body {
    background: black;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
}

.homepage {

    height: 100%;
    width: 100%;
    background: black;
}

.homepage header {
    height: 10%;
    display: flex;
    justify-content: center;
}

.homepage header img {
    height: 100%;
    width: auto;
}

.homepage #projectTab {
    height: 50%;
    max-width: 100%;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#projectWin{
    width: 80%;
    height: 80%;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 3px solid rgba(218, 165, 32, 0.5); */
    overflow: hidden;
    /* box-shadow: 0px 0px 10px rgba(218, 165, 32, 0.5); */
}

#projectWin:hover {
    overflow: scroll;
    overflow-x: hidden;
}

@keyframes colorChangeProjCard {
    0% {
      background-color: rgba(218, 165, 32, 1); /* Initial color */
    }
    100% {
      background-color: rgba(218, 165, 32, 0.5); /* Final color */
    }
  }

  @keyframes projCardScaling {
    0% {
        
    }
    100% {
        height: 90%;
    }
  }


.projectCard {
    height: 75%;
    width: 30%;
    background: goldenrod;
    margin: 1%;
    animation: colorChangeProjCard 1s forwards;
}

.projectCard:hover {
    animation: projCardScaling 1s forwards;
    cursor: pointer;
}

.homepage footer {
    height: 40%;
}

#siteDesc {
    height: 60%;
    color: rgba(218, 165, 32, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#siteDesc para {
    width: 80%;
}

#siteFooter {
    height: 40%;
}

@media (max-width: 700px) {
    .homepage {
        background: white;
    }
}