body {
    background: black;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
}

.homepage {

    height: 100%;
    width: 100%;
    background: black;
}

.homepage header {
    height: 10%;
    display: flex;
    justify-content: center;
}

.homepage header img {
    height: 100%;
    width: auto;
}

.homepage #projectTab {
    height: 50%;
    max-width: 100%;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 200px 10px 0px rgba(0, 0, 0, 0.75);
}

#projectWin{
    width: 80%;
    height: 95%;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 3px solid rgba(218, 165, 32, 0.5); */
    overflow: hidden;
    /* box-shadow: 0px 8px 4px -4px rgba(218, 165, 32, 1); */
    border: 2px solid rgba(218, 165, 32, 0.5);
    /* padding: 10px; */
    /* border-radius: 10px; */
}

#projectWin:hover {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: goldenrod black;
    
}

@keyframes colorChangeProjCard {
    0% {
      background-color: rgba(218, 165, 32, 1); /* Initial color */
    }
    50% {
        background-color: rgba(218, 165, 32, 0.75);
    }
    100% {
      background-color: rgba(218, 165, 32, 0.5); /* Final color */
    }
}

/* @keyframes projCardScaling {
    0% {

    }
    100% {
        height: 90%;
    }
} */

@keyframes projCardImgScale {
    0% {

    }
    100% {
        height: 85%;
    }
}


.projectCard {
    height: 70%;
    width: 30%;
    /* background: goldenrod; */
    /* margin: 1%; */
    /* animation: colorChangeProjCard 1s forwards; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .projectCard:hover {
    animation: colorChangeProjCard 1s reverse;
} */

.projectCard:hover img{
    animation: projCardImgScale 90ms forwards;
    cursor: pointer;
}

.projectCard img{
    height: 75%;
    object-fit: contain;
}

.homepage footer {
    height: 40%;
}

#siteDesc {
    height: 60%;
    /* color: rgba(218, 165, 32, 1); */
    color: #a7b0a2;
    background: #000000;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;
}

#siteDesc:hover {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: goldenrod black;
}

#siteDesc para {
    width: 80%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#siteFooter {
    height: 40%;
    background: #000000;
}


@media (max-width: 780px) {
    .homepage header {
        height: 15%;
        
        /* background: white; */
    }

    /* #projectwin {
        overflow: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: goldenrod black;
        -webkit-overflow-scrolling: touch;
        padding: 0%;
    } */
    
    #projectWin:hover, #projectWin:active {
        /* overflow: scroll; */
        -webkit-overflow-scrolling: touch;
    }
    
    .projectCard {
        min-width: 35%;
        max-width: 35%;
        max-height: 35%;
    }

    .projectCard img{
        min-width: 75%;
        max-height: auto;
        max-width: 75%;
    }

    #siteDesc {
        height: 80%;

    }

    #siteDesc para {
        max-width: 90%;
        -webkit-overflow-scrolling: touch;
    }
}